.err {
    font-size: small;
    color: red;
}
.asterisk{
    font-size: small;
    color: red;
}

.kiu-bg{
    background-color: #2167ac !important;
}

.kiu-btn{
    background-color: #2167ac !important;
    color: #fff !important;
}

.kiu-btn-sec{
    background-color: #26c91e !important;
    color: #fff !important;
}

.kiu-btn-sec:hover{
    background-color: #2167ac;
    color: #fff;
}

.kiu-color{
    color: #2167ac !important;
}

.cam-btn-white-bg{
    background-color: #ffffff !important;
    color: #2167ac !important;
    box-shadow: 0 8px 6px -6px #ffffff;
}

.cam-btn-white-bg:hover{
    background-color: #2167ac !important;
    color: #ffffff !important;
}