var map = {
	"./af": "./resources/coreui/node_modules/moment/locale/af.js",
	"./af.js": "./resources/coreui/node_modules/moment/locale/af.js",
	"./ar": "./resources/coreui/node_modules/moment/locale/ar.js",
	"./ar-dz": "./resources/coreui/node_modules/moment/locale/ar-dz.js",
	"./ar-dz.js": "./resources/coreui/node_modules/moment/locale/ar-dz.js",
	"./ar-kw": "./resources/coreui/node_modules/moment/locale/ar-kw.js",
	"./ar-kw.js": "./resources/coreui/node_modules/moment/locale/ar-kw.js",
	"./ar-ly": "./resources/coreui/node_modules/moment/locale/ar-ly.js",
	"./ar-ly.js": "./resources/coreui/node_modules/moment/locale/ar-ly.js",
	"./ar-ma": "./resources/coreui/node_modules/moment/locale/ar-ma.js",
	"./ar-ma.js": "./resources/coreui/node_modules/moment/locale/ar-ma.js",
	"./ar-sa": "./resources/coreui/node_modules/moment/locale/ar-sa.js",
	"./ar-sa.js": "./resources/coreui/node_modules/moment/locale/ar-sa.js",
	"./ar-tn": "./resources/coreui/node_modules/moment/locale/ar-tn.js",
	"./ar-tn.js": "./resources/coreui/node_modules/moment/locale/ar-tn.js",
	"./ar.js": "./resources/coreui/node_modules/moment/locale/ar.js",
	"./az": "./resources/coreui/node_modules/moment/locale/az.js",
	"./az.js": "./resources/coreui/node_modules/moment/locale/az.js",
	"./be": "./resources/coreui/node_modules/moment/locale/be.js",
	"./be.js": "./resources/coreui/node_modules/moment/locale/be.js",
	"./bg": "./resources/coreui/node_modules/moment/locale/bg.js",
	"./bg.js": "./resources/coreui/node_modules/moment/locale/bg.js",
	"./bm": "./resources/coreui/node_modules/moment/locale/bm.js",
	"./bm.js": "./resources/coreui/node_modules/moment/locale/bm.js",
	"./bn": "./resources/coreui/node_modules/moment/locale/bn.js",
	"./bn.js": "./resources/coreui/node_modules/moment/locale/bn.js",
	"./bo": "./resources/coreui/node_modules/moment/locale/bo.js",
	"./bo.js": "./resources/coreui/node_modules/moment/locale/bo.js",
	"./br": "./resources/coreui/node_modules/moment/locale/br.js",
	"./br.js": "./resources/coreui/node_modules/moment/locale/br.js",
	"./bs": "./resources/coreui/node_modules/moment/locale/bs.js",
	"./bs.js": "./resources/coreui/node_modules/moment/locale/bs.js",
	"./ca": "./resources/coreui/node_modules/moment/locale/ca.js",
	"./ca.js": "./resources/coreui/node_modules/moment/locale/ca.js",
	"./cs": "./resources/coreui/node_modules/moment/locale/cs.js",
	"./cs.js": "./resources/coreui/node_modules/moment/locale/cs.js",
	"./cv": "./resources/coreui/node_modules/moment/locale/cv.js",
	"./cv.js": "./resources/coreui/node_modules/moment/locale/cv.js",
	"./cy": "./resources/coreui/node_modules/moment/locale/cy.js",
	"./cy.js": "./resources/coreui/node_modules/moment/locale/cy.js",
	"./da": "./resources/coreui/node_modules/moment/locale/da.js",
	"./da.js": "./resources/coreui/node_modules/moment/locale/da.js",
	"./de": "./resources/coreui/node_modules/moment/locale/de.js",
	"./de-at": "./resources/coreui/node_modules/moment/locale/de-at.js",
	"./de-at.js": "./resources/coreui/node_modules/moment/locale/de-at.js",
	"./de-ch": "./resources/coreui/node_modules/moment/locale/de-ch.js",
	"./de-ch.js": "./resources/coreui/node_modules/moment/locale/de-ch.js",
	"./de.js": "./resources/coreui/node_modules/moment/locale/de.js",
	"./dv": "./resources/coreui/node_modules/moment/locale/dv.js",
	"./dv.js": "./resources/coreui/node_modules/moment/locale/dv.js",
	"./el": "./resources/coreui/node_modules/moment/locale/el.js",
	"./el.js": "./resources/coreui/node_modules/moment/locale/el.js",
	"./en-au": "./resources/coreui/node_modules/moment/locale/en-au.js",
	"./en-au.js": "./resources/coreui/node_modules/moment/locale/en-au.js",
	"./en-ca": "./resources/coreui/node_modules/moment/locale/en-ca.js",
	"./en-ca.js": "./resources/coreui/node_modules/moment/locale/en-ca.js",
	"./en-gb": "./resources/coreui/node_modules/moment/locale/en-gb.js",
	"./en-gb.js": "./resources/coreui/node_modules/moment/locale/en-gb.js",
	"./en-ie": "./resources/coreui/node_modules/moment/locale/en-ie.js",
	"./en-ie.js": "./resources/coreui/node_modules/moment/locale/en-ie.js",
	"./en-il": "./resources/coreui/node_modules/moment/locale/en-il.js",
	"./en-il.js": "./resources/coreui/node_modules/moment/locale/en-il.js",
	"./en-in": "./resources/coreui/node_modules/moment/locale/en-in.js",
	"./en-in.js": "./resources/coreui/node_modules/moment/locale/en-in.js",
	"./en-nz": "./resources/coreui/node_modules/moment/locale/en-nz.js",
	"./en-nz.js": "./resources/coreui/node_modules/moment/locale/en-nz.js",
	"./en-sg": "./resources/coreui/node_modules/moment/locale/en-sg.js",
	"./en-sg.js": "./resources/coreui/node_modules/moment/locale/en-sg.js",
	"./eo": "./resources/coreui/node_modules/moment/locale/eo.js",
	"./eo.js": "./resources/coreui/node_modules/moment/locale/eo.js",
	"./es": "./resources/coreui/node_modules/moment/locale/es.js",
	"./es-do": "./resources/coreui/node_modules/moment/locale/es-do.js",
	"./es-do.js": "./resources/coreui/node_modules/moment/locale/es-do.js",
	"./es-us": "./resources/coreui/node_modules/moment/locale/es-us.js",
	"./es-us.js": "./resources/coreui/node_modules/moment/locale/es-us.js",
	"./es.js": "./resources/coreui/node_modules/moment/locale/es.js",
	"./et": "./resources/coreui/node_modules/moment/locale/et.js",
	"./et.js": "./resources/coreui/node_modules/moment/locale/et.js",
	"./eu": "./resources/coreui/node_modules/moment/locale/eu.js",
	"./eu.js": "./resources/coreui/node_modules/moment/locale/eu.js",
	"./fa": "./resources/coreui/node_modules/moment/locale/fa.js",
	"./fa.js": "./resources/coreui/node_modules/moment/locale/fa.js",
	"./fi": "./resources/coreui/node_modules/moment/locale/fi.js",
	"./fi.js": "./resources/coreui/node_modules/moment/locale/fi.js",
	"./fil": "./resources/coreui/node_modules/moment/locale/fil.js",
	"./fil.js": "./resources/coreui/node_modules/moment/locale/fil.js",
	"./fo": "./resources/coreui/node_modules/moment/locale/fo.js",
	"./fo.js": "./resources/coreui/node_modules/moment/locale/fo.js",
	"./fr": "./resources/coreui/node_modules/moment/locale/fr.js",
	"./fr-ca": "./resources/coreui/node_modules/moment/locale/fr-ca.js",
	"./fr-ca.js": "./resources/coreui/node_modules/moment/locale/fr-ca.js",
	"./fr-ch": "./resources/coreui/node_modules/moment/locale/fr-ch.js",
	"./fr-ch.js": "./resources/coreui/node_modules/moment/locale/fr-ch.js",
	"./fr.js": "./resources/coreui/node_modules/moment/locale/fr.js",
	"./fy": "./resources/coreui/node_modules/moment/locale/fy.js",
	"./fy.js": "./resources/coreui/node_modules/moment/locale/fy.js",
	"./ga": "./resources/coreui/node_modules/moment/locale/ga.js",
	"./ga.js": "./resources/coreui/node_modules/moment/locale/ga.js",
	"./gd": "./resources/coreui/node_modules/moment/locale/gd.js",
	"./gd.js": "./resources/coreui/node_modules/moment/locale/gd.js",
	"./gl": "./resources/coreui/node_modules/moment/locale/gl.js",
	"./gl.js": "./resources/coreui/node_modules/moment/locale/gl.js",
	"./gom-deva": "./resources/coreui/node_modules/moment/locale/gom-deva.js",
	"./gom-deva.js": "./resources/coreui/node_modules/moment/locale/gom-deva.js",
	"./gom-latn": "./resources/coreui/node_modules/moment/locale/gom-latn.js",
	"./gom-latn.js": "./resources/coreui/node_modules/moment/locale/gom-latn.js",
	"./gu": "./resources/coreui/node_modules/moment/locale/gu.js",
	"./gu.js": "./resources/coreui/node_modules/moment/locale/gu.js",
	"./he": "./resources/coreui/node_modules/moment/locale/he.js",
	"./he.js": "./resources/coreui/node_modules/moment/locale/he.js",
	"./hi": "./resources/coreui/node_modules/moment/locale/hi.js",
	"./hi.js": "./resources/coreui/node_modules/moment/locale/hi.js",
	"./hr": "./resources/coreui/node_modules/moment/locale/hr.js",
	"./hr.js": "./resources/coreui/node_modules/moment/locale/hr.js",
	"./hu": "./resources/coreui/node_modules/moment/locale/hu.js",
	"./hu.js": "./resources/coreui/node_modules/moment/locale/hu.js",
	"./hy-am": "./resources/coreui/node_modules/moment/locale/hy-am.js",
	"./hy-am.js": "./resources/coreui/node_modules/moment/locale/hy-am.js",
	"./id": "./resources/coreui/node_modules/moment/locale/id.js",
	"./id.js": "./resources/coreui/node_modules/moment/locale/id.js",
	"./is": "./resources/coreui/node_modules/moment/locale/is.js",
	"./is.js": "./resources/coreui/node_modules/moment/locale/is.js",
	"./it": "./resources/coreui/node_modules/moment/locale/it.js",
	"./it-ch": "./resources/coreui/node_modules/moment/locale/it-ch.js",
	"./it-ch.js": "./resources/coreui/node_modules/moment/locale/it-ch.js",
	"./it.js": "./resources/coreui/node_modules/moment/locale/it.js",
	"./ja": "./resources/coreui/node_modules/moment/locale/ja.js",
	"./ja.js": "./resources/coreui/node_modules/moment/locale/ja.js",
	"./jv": "./resources/coreui/node_modules/moment/locale/jv.js",
	"./jv.js": "./resources/coreui/node_modules/moment/locale/jv.js",
	"./ka": "./resources/coreui/node_modules/moment/locale/ka.js",
	"./ka.js": "./resources/coreui/node_modules/moment/locale/ka.js",
	"./kk": "./resources/coreui/node_modules/moment/locale/kk.js",
	"./kk.js": "./resources/coreui/node_modules/moment/locale/kk.js",
	"./km": "./resources/coreui/node_modules/moment/locale/km.js",
	"./km.js": "./resources/coreui/node_modules/moment/locale/km.js",
	"./kn": "./resources/coreui/node_modules/moment/locale/kn.js",
	"./kn.js": "./resources/coreui/node_modules/moment/locale/kn.js",
	"./ko": "./resources/coreui/node_modules/moment/locale/ko.js",
	"./ko.js": "./resources/coreui/node_modules/moment/locale/ko.js",
	"./ku": "./resources/coreui/node_modules/moment/locale/ku.js",
	"./ku.js": "./resources/coreui/node_modules/moment/locale/ku.js",
	"./ky": "./resources/coreui/node_modules/moment/locale/ky.js",
	"./ky.js": "./resources/coreui/node_modules/moment/locale/ky.js",
	"./lb": "./resources/coreui/node_modules/moment/locale/lb.js",
	"./lb.js": "./resources/coreui/node_modules/moment/locale/lb.js",
	"./lo": "./resources/coreui/node_modules/moment/locale/lo.js",
	"./lo.js": "./resources/coreui/node_modules/moment/locale/lo.js",
	"./lt": "./resources/coreui/node_modules/moment/locale/lt.js",
	"./lt.js": "./resources/coreui/node_modules/moment/locale/lt.js",
	"./lv": "./resources/coreui/node_modules/moment/locale/lv.js",
	"./lv.js": "./resources/coreui/node_modules/moment/locale/lv.js",
	"./me": "./resources/coreui/node_modules/moment/locale/me.js",
	"./me.js": "./resources/coreui/node_modules/moment/locale/me.js",
	"./mi": "./resources/coreui/node_modules/moment/locale/mi.js",
	"./mi.js": "./resources/coreui/node_modules/moment/locale/mi.js",
	"./mk": "./resources/coreui/node_modules/moment/locale/mk.js",
	"./mk.js": "./resources/coreui/node_modules/moment/locale/mk.js",
	"./ml": "./resources/coreui/node_modules/moment/locale/ml.js",
	"./ml.js": "./resources/coreui/node_modules/moment/locale/ml.js",
	"./mn": "./resources/coreui/node_modules/moment/locale/mn.js",
	"./mn.js": "./resources/coreui/node_modules/moment/locale/mn.js",
	"./mr": "./resources/coreui/node_modules/moment/locale/mr.js",
	"./mr.js": "./resources/coreui/node_modules/moment/locale/mr.js",
	"./ms": "./resources/coreui/node_modules/moment/locale/ms.js",
	"./ms-my": "./resources/coreui/node_modules/moment/locale/ms-my.js",
	"./ms-my.js": "./resources/coreui/node_modules/moment/locale/ms-my.js",
	"./ms.js": "./resources/coreui/node_modules/moment/locale/ms.js",
	"./mt": "./resources/coreui/node_modules/moment/locale/mt.js",
	"./mt.js": "./resources/coreui/node_modules/moment/locale/mt.js",
	"./my": "./resources/coreui/node_modules/moment/locale/my.js",
	"./my.js": "./resources/coreui/node_modules/moment/locale/my.js",
	"./nb": "./resources/coreui/node_modules/moment/locale/nb.js",
	"./nb.js": "./resources/coreui/node_modules/moment/locale/nb.js",
	"./ne": "./resources/coreui/node_modules/moment/locale/ne.js",
	"./ne.js": "./resources/coreui/node_modules/moment/locale/ne.js",
	"./nl": "./resources/coreui/node_modules/moment/locale/nl.js",
	"./nl-be": "./resources/coreui/node_modules/moment/locale/nl-be.js",
	"./nl-be.js": "./resources/coreui/node_modules/moment/locale/nl-be.js",
	"./nl.js": "./resources/coreui/node_modules/moment/locale/nl.js",
	"./nn": "./resources/coreui/node_modules/moment/locale/nn.js",
	"./nn.js": "./resources/coreui/node_modules/moment/locale/nn.js",
	"./oc-lnc": "./resources/coreui/node_modules/moment/locale/oc-lnc.js",
	"./oc-lnc.js": "./resources/coreui/node_modules/moment/locale/oc-lnc.js",
	"./pa-in": "./resources/coreui/node_modules/moment/locale/pa-in.js",
	"./pa-in.js": "./resources/coreui/node_modules/moment/locale/pa-in.js",
	"./pl": "./resources/coreui/node_modules/moment/locale/pl.js",
	"./pl.js": "./resources/coreui/node_modules/moment/locale/pl.js",
	"./pt": "./resources/coreui/node_modules/moment/locale/pt.js",
	"./pt-br": "./resources/coreui/node_modules/moment/locale/pt-br.js",
	"./pt-br.js": "./resources/coreui/node_modules/moment/locale/pt-br.js",
	"./pt.js": "./resources/coreui/node_modules/moment/locale/pt.js",
	"./ro": "./resources/coreui/node_modules/moment/locale/ro.js",
	"./ro.js": "./resources/coreui/node_modules/moment/locale/ro.js",
	"./ru": "./resources/coreui/node_modules/moment/locale/ru.js",
	"./ru.js": "./resources/coreui/node_modules/moment/locale/ru.js",
	"./sd": "./resources/coreui/node_modules/moment/locale/sd.js",
	"./sd.js": "./resources/coreui/node_modules/moment/locale/sd.js",
	"./se": "./resources/coreui/node_modules/moment/locale/se.js",
	"./se.js": "./resources/coreui/node_modules/moment/locale/se.js",
	"./si": "./resources/coreui/node_modules/moment/locale/si.js",
	"./si.js": "./resources/coreui/node_modules/moment/locale/si.js",
	"./sk": "./resources/coreui/node_modules/moment/locale/sk.js",
	"./sk.js": "./resources/coreui/node_modules/moment/locale/sk.js",
	"./sl": "./resources/coreui/node_modules/moment/locale/sl.js",
	"./sl.js": "./resources/coreui/node_modules/moment/locale/sl.js",
	"./sq": "./resources/coreui/node_modules/moment/locale/sq.js",
	"./sq.js": "./resources/coreui/node_modules/moment/locale/sq.js",
	"./sr": "./resources/coreui/node_modules/moment/locale/sr.js",
	"./sr-cyrl": "./resources/coreui/node_modules/moment/locale/sr-cyrl.js",
	"./sr-cyrl.js": "./resources/coreui/node_modules/moment/locale/sr-cyrl.js",
	"./sr.js": "./resources/coreui/node_modules/moment/locale/sr.js",
	"./ss": "./resources/coreui/node_modules/moment/locale/ss.js",
	"./ss.js": "./resources/coreui/node_modules/moment/locale/ss.js",
	"./sv": "./resources/coreui/node_modules/moment/locale/sv.js",
	"./sv.js": "./resources/coreui/node_modules/moment/locale/sv.js",
	"./sw": "./resources/coreui/node_modules/moment/locale/sw.js",
	"./sw.js": "./resources/coreui/node_modules/moment/locale/sw.js",
	"./ta": "./resources/coreui/node_modules/moment/locale/ta.js",
	"./ta.js": "./resources/coreui/node_modules/moment/locale/ta.js",
	"./te": "./resources/coreui/node_modules/moment/locale/te.js",
	"./te.js": "./resources/coreui/node_modules/moment/locale/te.js",
	"./tet": "./resources/coreui/node_modules/moment/locale/tet.js",
	"./tet.js": "./resources/coreui/node_modules/moment/locale/tet.js",
	"./tg": "./resources/coreui/node_modules/moment/locale/tg.js",
	"./tg.js": "./resources/coreui/node_modules/moment/locale/tg.js",
	"./th": "./resources/coreui/node_modules/moment/locale/th.js",
	"./th.js": "./resources/coreui/node_modules/moment/locale/th.js",
	"./tl-ph": "./resources/coreui/node_modules/moment/locale/tl-ph.js",
	"./tl-ph.js": "./resources/coreui/node_modules/moment/locale/tl-ph.js",
	"./tlh": "./resources/coreui/node_modules/moment/locale/tlh.js",
	"./tlh.js": "./resources/coreui/node_modules/moment/locale/tlh.js",
	"./tr": "./resources/coreui/node_modules/moment/locale/tr.js",
	"./tr.js": "./resources/coreui/node_modules/moment/locale/tr.js",
	"./tzl": "./resources/coreui/node_modules/moment/locale/tzl.js",
	"./tzl.js": "./resources/coreui/node_modules/moment/locale/tzl.js",
	"./tzm": "./resources/coreui/node_modules/moment/locale/tzm.js",
	"./tzm-latn": "./resources/coreui/node_modules/moment/locale/tzm-latn.js",
	"./tzm-latn.js": "./resources/coreui/node_modules/moment/locale/tzm-latn.js",
	"./tzm.js": "./resources/coreui/node_modules/moment/locale/tzm.js",
	"./ug-cn": "./resources/coreui/node_modules/moment/locale/ug-cn.js",
	"./ug-cn.js": "./resources/coreui/node_modules/moment/locale/ug-cn.js",
	"./uk": "./resources/coreui/node_modules/moment/locale/uk.js",
	"./uk.js": "./resources/coreui/node_modules/moment/locale/uk.js",
	"./ur": "./resources/coreui/node_modules/moment/locale/ur.js",
	"./ur.js": "./resources/coreui/node_modules/moment/locale/ur.js",
	"./uz": "./resources/coreui/node_modules/moment/locale/uz.js",
	"./uz-latn": "./resources/coreui/node_modules/moment/locale/uz-latn.js",
	"./uz-latn.js": "./resources/coreui/node_modules/moment/locale/uz-latn.js",
	"./uz.js": "./resources/coreui/node_modules/moment/locale/uz.js",
	"./vi": "./resources/coreui/node_modules/moment/locale/vi.js",
	"./vi.js": "./resources/coreui/node_modules/moment/locale/vi.js",
	"./x-pseudo": "./resources/coreui/node_modules/moment/locale/x-pseudo.js",
	"./x-pseudo.js": "./resources/coreui/node_modules/moment/locale/x-pseudo.js",
	"./yo": "./resources/coreui/node_modules/moment/locale/yo.js",
	"./yo.js": "./resources/coreui/node_modules/moment/locale/yo.js",
	"./zh-cn": "./resources/coreui/node_modules/moment/locale/zh-cn.js",
	"./zh-cn.js": "./resources/coreui/node_modules/moment/locale/zh-cn.js",
	"./zh-hk": "./resources/coreui/node_modules/moment/locale/zh-hk.js",
	"./zh-hk.js": "./resources/coreui/node_modules/moment/locale/zh-hk.js",
	"./zh-mo": "./resources/coreui/node_modules/moment/locale/zh-mo.js",
	"./zh-mo.js": "./resources/coreui/node_modules/moment/locale/zh-mo.js",
	"./zh-tw": "./resources/coreui/node_modules/moment/locale/zh-tw.js",
	"./zh-tw.js": "./resources/coreui/node_modules/moment/locale/zh-tw.js"
};


function webpackContext(req) {
	var id = webpackContextResolve(req);
	return __webpack_require__(id);
}
function webpackContextResolve(req) {
	if(!__webpack_require__.o(map, req)) {
		var e = new Error("Cannot find module '" + req + "'");
		e.code = 'MODULE_NOT_FOUND';
		throw e;
	}
	return map[req];
}
webpackContext.keys = function webpackContextKeys() {
	return Object.keys(map);
};
webpackContext.resolve = webpackContextResolve;
module.exports = webpackContext;
webpackContext.id = "./resources/coreui/node_modules/moment/locale sync recursive ^\\.\\/.*$";